/*
	link
*/
a {
  color: var(--accent_color);
}

a:hover {
  color: var(--accent_color);
}

/*
	Button
*/
.button,
.button.button-primary,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: var(--accent_color);
  border: 1px solid var(--accent_color);
  border-radius: 0;
  color: #fffffe;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  padding: var(--rem-div-phi) 1rem;
  margin: var(--rem-div-phi) 1rem calc(var(--rem-mul-phi) * var(--phi)) 0;
  letter-spacing: 0.1rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.button.button-secondary {
  background: transparent;
  color: var(--accent_color);
}

.button.button-ghost {
  background: transparent;
  border: 0px;
  color: var(--accent_color);
}

.button.button-disabled {
  background: gainsboro;
  border-color: gainsboro;
}

.button.button-disabled:hover {
  cursor: not-allowed;
}
.table-responsive {
  width: 100%;
  overflow: auto;
}

table {
  border-spacing: 0;
  width: 100%;
}

td:first-child,
th:first-child {
  padding-left: 1rem;
}

th {
  background-color: var(--accent_color);
  color: #fffffe;
  font-weight: 500;
}
td,
th {
  padding: 1rem var(--rem-mul-phi);
  text-align: left;
  border-bottom: 0.05rem solid #e1e1e1;
}

/*
	Form Components
*/
form {
  width: 100%;
}
fieldset {
  margin-bottom: calc(1 * var(--phi));
}
label {
  display: block;
  width: 100%;
  font-size: calc(var(--phi) / 1rem);
}
label.label-inline {
  display: inline;
}
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
  margin-bottom: var(--rem-mul-phi);
  width: 100%;
  border: 0.05rem solid gray;
  padding: var(--rem-div-phi) 1rem;
  font-size: calc(12px + (18 - 12) * ((100vw - 380px) / (1440 - 380)));
}
