/*
	link
*/
a {
  color: var(--accent_color);
}

a:hover {
  color: var(--accent_color);
}

/*
	Button
*/
.button,
.button.button-primary,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: var(--accent_color);
  border: 2px solid var(--accent_color);
  border-radius: 0;
  color: #fffffe;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  height: calc(1.618rem + 0.618rem);
  padding: 0 calc(1.1618 * 1.618rem);
  letter-spacing: 0.1rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  margin: 1.618rem 0;
  margin-right: 1.618rem;
  font-weight: 600;
}

.button.button-secondary {
  background: transparent;
  color: var(--accent_color);
}

.button.button-ghost {
  background: transparent;
  border: 0px;
  color: var(--accent_color);
}

.button.button-disabled {
  background: gainsboro;
  border-color: gainsboro;
}

.button.button-disabled:hover {
  cursor: not-allowed;
}
.table-responsive {
  width: 100%;
  overflow: auto;
}

table {
  border-spacing: 0;
  width: 100%;
}

td:first-child,
th:first-child {
  padding-left: 1rem;
}

th {
  background-color: var(--accent_color);
  color: #fffffe;
  font-weight: 500;
}
td,
th {
  padding: 1rem 1.618rem;
  text-align: left;
  border-bottom: 0.05rem solid #e1e1e1;
}

/*
	Form Components
*/
form {
  width: 100%;
}
fieldset {
  margin-bottom: 1.618rem;
}
label {
  display: block;
  width: 100%;
  font-size: 0.8rem;
}
label.label-inline {
  display: inline;
}
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
  margin-bottom: 1.618rem;
  width: 100%;
  border: 0.05rem solid gray;
  padding: 0.618rem;
  font-size: 1.618vh;
  height: calc(1.618rem + 0.618rem);
}
