@import url("https://fonts.googleapis.com/css?family=Fira+Code|Playfair+Display|Poppins&display=swap");
:root {
  --h6: 16px;
  /* Font Family */
  --sans-serif-font: "Poppins", sans-serif;
  --serif-font: "Playfair Display", serif;
  --monospace: "Fira Code", monospace;
  font-size: calc(12px + (16 - 12) * ((100vw - 380px) / (1440 - 380)));
}
/*
	Style 1 - Poppins - Sans Serif
*/
.sans-serif-font {
  font-family: var(--sans-serif-font);
}
/*
	Style 2 - Playfair Display - Serif
*/
.serif-font {
  font-family: var(--serif-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  width: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  line-height: var(--phi);
  font-family: var(--sans-serif-font);
  font-weight: 400;
  color: var(--black);
  text-align: left;
  word-wrap: break-word;
  letter-spacing: calc(1px / 1.618);
}

/*
	Contrast Style 1
	all the heading tags will be in serif and other tags font will be sans serif
*/
body.font-style-1 h1,
body.font-style-1 h2,
body.font-style-1 h3,
body.font-style-1 h4,
body.font-style-1 h5,
body.font-style-1 h6 {
  font-family: var(--serif-font);
}

/*
	Contrast Style 2
	all the heading tags will be in san serif and other tags font will be serif
*/
body.font-style-2 h1,
body.font-style-2 h2,
body.font-style-2 h3,
body.font-style-2 h4,
body.font-style-2 h5,
body.font-style-2 h6 {
  font-family: var(--sans-serif-font);
}
body.font-style-2 {
  font-family: var(--serif-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-bottom: 1.618rem;
  letter-spacing: 0.1rem;
}
h6 {
  font-size: var(--h6);
  letter-spacing: 0;
}
h5 {
  font-size: var(--h5);
  letter-spacing: 0.02rem;
}
h4 {
  font-size: var(--h4);
  letter-spacing: 0.04rem;
}
h3 {
  font-size: var(--h3);
  letter-spacing: 0.06rem;
}
h2 {
  font-size: var(--h2);
  letter-spacing: 0.08rem;
}
h1 {
  font-size: var(--h1);
}
p {
  max-width: 80ch;
  margin-bottom: 1.618rem;
}

ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
ul,
ol,
dl {
  margin-top: 0;
  padding-left: 1.618rem;
  flex-basis: 100%;
  margin-bottom: calc(1rem / 0.618);
  margin-left: calc(1rem / 0.618);
}
dl,
ul,
ol {
  margin-bottom: calc(1rem * var(--phi));
}

dd,
dt,
li {
  margin-bottom: calc(1rem / 1.618);
}
dt {
  font-weight: 600;
}
dd {
  margin-left: calc(2 * 1.618rem);
}

blockquote {
  width: 100%;
  border-left: 0.3rem solid var(--accent_color);
  margin-left: 0;
  margin-right: 0;
  padding: 10px calc(10px * var(--phi));
}

blockquote *:last-child {
  margin-bottom: 0;
}

blockquote p {
  max-width: 60ch;
}

code,
kbd,
samp {
  font-family: var(--monospace);
  color: #434e57;
}
samp {
  font-weight: bold;
  color: var(--dark);
}
code,
kbd,
pre {
  background: #efefef;
  font-size: 14px;
  margin-left: 0;
}

p > kbd,
p > code {
  margin: 0 0.618rem;
}

pre > code {
  margin-left: 0;
  white-space: pre;
}
kbd,
pre {
  border: 0.05rem solid gainsboro;
}
kbd,
code {
  padding: 0.2rem 0.3rem;
  border-radius: 3px;
  margin: 0 0.618rem;
  white-space: nowrap;
}
pre {
  border-radius: 3px;
  width: 100%;
  padding: 1rem 1.618rem;
  font-size: 12px;
  margin: 1.618rem auto;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

@media only screen and (max-width: 765px) {
  p {
    max-width: 60ch;
  }
}
